body {
    background-color: black;
  }
  .home {
    color: white;
    text-align: center;
    font-family: Noto Sans, sans-serif;
   }
  .home h1{
    font-family: fantasy;
  }
  ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
  }
  li{
    display: inline;
  }
  .homebtn{
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content p{
    color: green;
    display: block;
    padding: 12px 16px;
  }
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  .image-head {
    background-image:url(bck.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
  }